.nss_location_finder_wrapper{

}
.nss_location_finder_filter_panel{
     text-align: right; 
     margin-bottom: 50px;
}
.nss_location_finder_filter_panel select{
     border: 1px solid #E6F7F0;
    color: #212121;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    border-radius: 8px;
    text-align: left;
    margin: 10px;
    padding: 10px;
}

.crownct_location_locator_post{
    width: 374px;
    height: 443px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
}


/*pagination*/

.paginationjs{
 
    display: block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    width: 100%;
    float: left;
 

}
.paginationjs-pages ul li a {
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #10694e;
    text-decoration: none;
    margin: 0 15px;
}
  li.paginationjs-page.J-paginationjs-page.active {
    background: #10694e;
}
.paginationjs-pages ul li {
    list-style: none;
    display: inline-block;
    border: 1px solid #10694e;
    margin: 0px 4px;
    transition: all .2s linear;
}
.paginationjs-pages ul li.active a {
    background-color: #10694e;
    color: #fff;
    font-weight: 700;
}

