/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 
/*front-end css-------------------------------*/

#schedule_day{
background: #32828c;
    color: #fff;
    padding: 13px;
    font-size: 15px;
    width: 46%;
}
#time_nxtday {
       background: #32828c;
    color: #fff;
    padding: 13px;
    font-size: 15px;
    width: 45%;
    margin-left: 20px;
}

.checkout-radio-field .input-radio:checked + .radio:before {
    background-color: #0F4646;
}
.checkout-radio-field .radio:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background-color: #C4C4C4;
    border-radius: 50%;
}
.schedule_date_time label{
	display: inline-block !important;
	cursor: pointer;
 }

 /*option*/
 .schedule_date_time{
 	margin-bottom: 40px;
 }

 .schedule_date_time select {
 
 	background:#2d6067; 
    text-indent: 10px;
    border: none;

 }
  .schedule_date_time select:focus-visible {
  border: none !important;
  }
  .schedule_date_time select option { 
  
 	background:#0F4646;
 	 -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
    border:1px solid #fff;
    font-size: 16px; 
  
 }

   .schedule_date_time select option:hover { 
  
 	background:#0a1f1f;
  
 }
 .schedule_date_time option:checked {
 	background:#0a1f1f;
 	padding:20px; 
 }
 
 .select_hide{
    display: none;
 }
.visibility_on_load {
    position: absolute;
    background: #a5a5a56b;
    height: 42px;
    width: 40%;
    opacity: 0.2;
        z-index: 1;
}
.option_hide{
    display: none;
}